title: 'Send OSC Message'
type: 'object'
properties:
  data:
    type: 'object'
    properties:
      'address':
        'title': 'Address'
        'type': 'string'
      'args':
        'type': 'array'
        'items':
          'type': 'object'
          'properties':
            'type':
              'title': 'Type'
              'type': 'string'
              'enum': [
                'string'
                'float'
                'integer'
                'blob'
                'true'
                'false'
                'null'
                'bang'
                'timetag'
                'array'
              ]
            'value':
              'title': 'Value'
              'type': 'string'
    required: [
      'address'
      'args'
    ]
